.site-nav {
     background: #f2f2f2;
    text-emphasis-color: #fd9c00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    ul {
        display: inline-block;
        margin: auto;
        list-style:none;
    }
    li {
        display:inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
    .nav-shrink {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  background: #5F5566;
}

.nav-shrink .nav-wrap { margin: 14.28571px auto; }

.nav-shrink .nav-list { font-size: 1rem; }

.nav-shrink .nav-link { color: white; }

.nav-wrap {
  max-width: 1280px;
  width: 90%;
  margin: 20px auto;
}

.nav-list {
  list-style: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 20px;
}
@media all and (max-width: 40em) {

.nav-list { font-size: 1rem; }
}

.nav-list:nth-child(1) {
  -webkit-animation: ohMy 0.5s ease-in-out;
  animation: ohMy 0.5s ease-in-out;
}

.nav-list:nth-child(2) {
  -webkit-animation: ohMy 0.6s ease-in-out;
  animation: ohMy 0.6s ease-in-out;
}

.nav-list:nth-child(3) {
  -webkit-animation: ohMy 0.7s ease-in-out;
  animation: ohMy 0.7s ease-in-out;
}

.nav-list:nth-child(4) {
  -webkit-animation: ohMy 0.8s ease-in-out;
  animation: ohMy 0.8s ease-in-out;
}

.nav-link {
  color: #5F5566;
  text-decoration: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #828AB0;
  border-bottom-color: #828AB0;
}
}
   